# Terraform files to ignore
.lambda_layer/
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfplan
*.tfvars.backup
environments/dev/package/
# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

*node_modules
